.statistics-text-container {
  .ant-input {
    border: 0;
    left: 0;
    margin-left: 0px;
    padding-top: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-align: inherit;
  }
}
